:root {
  font-size: 14px;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.banner {
  height: 6rem;
  width: 100%;
  padding: 2rem 3.5rem 2rem 3.5rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tag-line {
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

#theme-btn {
  display: flex;
  width: 7rem;
  justify-content: space-between;
  align-items: center;
}

#theme-btn img {
  height: 1.5rem;
}

#theme-mode {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

main {
  margin: 4%;
}

#back-button {
  height: 5vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  border-radius: 0.4rem;
}

#back-button img {
  padding-right: 1vw;
  height: 2.5vh;
}

#country-card {
  height: 45vh;
  display: flex;
  margin: 5vh 0 5vh 0;
  justify-content: space-between;
  align-items: center;
}

#country-flag {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
}

#country-flag img {
  height: 40vh;
  object-fit: cover;
}

#country-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding: 5vh 0 5vh 0;
}

#country-name {
  font-size: 2vw;
  font-weight: 700;
  margin-bottom: 2vh;
}

#country-stats {
  display: flex;
  font-weight: 600;
}

.stats-value {
  font-weight: 400;
}

.partition {
  width: 50%;
  height: 100%;
  line-height: 3.5vh;
  font-size: 1vw;
}

#border-details {
  padding-top: 2vh;
  height: 100%;
  display: flex;
}

#border-text {
  width: 20%;
  height: 100%;
}

#border-countries {
  width: 80%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 1vh;
}

.border-country-button {
  width: auto;
  max-height: 5vh;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
  padding: 1vh 2vw 1vh 2vw;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 1vw;
}

@media (max-width: 768px) {
  main {
    margin: 8%;
  }

  #back-button {
    height: 8vh;
    width: 24vw;
    font-size: 2.75vw;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
    border-radius: 0.4rem;
    margin: 5vh 0 5vh 0;
  }

  #country-card {
    height: unset;
    flex-direction: column;
    margin: unset;
    justify-content: space-between;
    align-items: center;
  }

  #country-flag {
    height: unset;
    width: unset;
    display: unset;
    align-items: unset;
  }

  #country-flag img {
    height: unset;
  }

  #country-details {
    height: unset;
    width: 100%;
  }

  #country-name {
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 2vh;
  }

  #country-stats {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }

  .stats {
    line-height: 6vh;
  }

  .partition {
    width: 100%;
    line-height: 3.5vh;
    font-size: 3vw;
  }

  #border-details {
    flex-direction: column;
  }

  #border-text {
    width: 100%;
    font-size: 4vw;
    margin-bottom: 2vh;
  }

  #border-countries {
    width: 100%;
    padding-left: unset;
    column-gap: 1vw;
    row-gap: 1vh;
  }

  .border-country-button {
    width: auto;
    max-height: 15vh;
    padding: 1vh 2vw 1vh 2vw;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 3.5vw;
  }
}
