:root {
  font-size: 14px;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.banner {
  height: 6rem;
  width: 100%;
  padding: 2rem 3.5rem 2rem 3.5rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tag-line {
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

#theme-btn {
  display: flex;
  width: 7rem;
  justify-content: space-between;
  align-items: center;
}

#theme-btn img {
  height: 1.5rem;
}

#theme-mode {
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

main {
  width: 100%;
  justify-self: center;
  margin: auto;
  max-width: 83.875rem;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.search-filter {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

#search-bar {
  width: 40%;
  height: 100%;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: gray;
}

#search-bar ::placeholder {
  font-size: 0.9rem;
  opacity: 0.5;
}

#search-bar img {
  margin: 0 0 0 1rem;
  height: 1.5rem;
  opacity: 0.5;
}

#search-bar input {
  padding-left: 1rem;
  width: 100%;
  height: 100%;
}

.filter-bar {
  height: 4rem;
  width: 40%;
  max-width: 100%;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  border-radius: 0.5rem;
  border: none;
  text-align: start;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#filter-bar-select {
  padding-left: 2rem;
  width: 100%;
  height: 100%;
}

#cards-section {
  width: 100%;
  min-height: 40rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 3.33%;
}

#temporary {
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 3rem;
}

.card-body {
  width: 22.5%;
  height: 35vw;
}

.card-elements {
  height: 80%;
  border-radius: 0.35rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
}

.card-elements img {
  min-height: 45%;
  max-height: 55%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 0.35rem;
  border-top-left-radius: 0.35rem;
}

#basic-info {
  width: 100%;
  height:50%;
  font-size: 1vw;
  font-weight: 600;
  padding: 1rem 1rem 1rem 1.5rem;
  text-align: left;
}

.values {
  font-weight: 300;
}

.country-name {
  font-weight: 700;
  font-size: 1.5vw;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .banner {
    padding: 2rem 1rem 2rem 1rem;
  }

  main {
    max-width: unset;
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .search-filter {
    height: 12rem;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-size: 3vw;
    gap: 1.5rem;
  }

  #search-bar {
    width: 100%;
    height: 5.5rem;
  }

  .filter-bar {
    height:5.5rem;
    padding-left: unset;
  }

  #filter-bar-select {
    padding-left: 3vw;
  }

  #cards-section {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: unset;
    column-gap: unset;
  }

  .card-body {
    width: 85%;
    height: 90vw;
  }

  .card-elements {
    height: 80%;
    text-align: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 12px;
  }

  .card-elements img {
    min-height: 45%;
    max-height: 55%;
    width: 100%;
    object-fit: cover;
  }

  #basic-info {
    font-size: 3vw;
    padding: auto;
  }

  .country-name {
    font-size: 4.5vw;
    padding-top: 1rem;
  }

}
